body {
  font-family: "Kumbh Sans";
}


.header {
  text-align: center;
}

.headerImg {
  width: 40%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 40px;
}

h1 {
  
}

#results {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#middle,
h2        {
  display: block;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

#rock,
#paper,
#scissors {
  font-family: "Kumbh Sans";
  padding-top: 2px;
  transition-duration: .2s;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

#rock:hover {
  background: rgba(240, 30, 0, .7);
  transform: scale(1.1);
  border-radius: 5px;
}
#paper:hover {
  background: rgba(250, 250, 0, .8);
  transform: scale(1.1);
  border-radius: 5px;
}
#scissors:hover {
  background: rgba(0, 180, 240, .5);
  transform: scale(1.1);
  border-radius: 5px;
} 


#rock{
  margin-left: 100px;
  margin-right: 10px;
}

#scissors {
  margin-right: 100px;
  margin-left: 10px;
}