body {
  font-family: "Kumbh Sans";
}


.header {
  text-align: center;
}

.headerImg {
  width: 30%;
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 40px;
}

h1 {
  
}

#results {
  text-align: center;
  margin-top: -25px;
  padding-top: 0px;
  padding-bottom: 10px;
}

#middle,
#score,
h2        {
  padding-top: 90px;
  display: block;
}



.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 70px;
}

#rock:focus,
#paper:focus,
#scissors:focus {
  outline: 0;
}


#rock,
#paper,
#scissors {
  font-family: "Kumbh Sans";
  font-size: 18px;
  padding-top: 2px;
  transition-duration: .14s;
  border: 3px solid rgba(0, 0, 0, .4);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
  padding: 10px;

}

#rock:hover {
  background: rgba(240, 30, 0, .7);
  color: rgba(100, 0, 0, .8);
  transform: scale(1.1);
  border-radius: 9px;
}
#paper:hover {
  background: rgba(250, 230, 0, 1);
  color: rgba(80, 80, 0, .9);
  transform: scale(1.1);
  border-radius: 9px;
}
#scissors:hover {
  background: rgba(0, 200, 240, .6);
  color: rgba(0, 30, 100, .9);
  transform: scale(1.1);
  border-radius: 9px;
} 


#rock{
  margin-left: 100px;
  margin-right: 40px;
}

#scissors {
  margin-right: 100px;
  margin-left: 40px;
}

.computerPlay {
  display: inline-block;
  width: 25%;
  height: auto;
}

.userPlay {
  display: inline-block;
  width: 25%;
  height: auto;
}

#result {
  display: none;
  
}


@media only screen and (max-width: 600px) {
  
  #rock,
  #paper,
  #scissors {
    font-size: 18px;
    padding-top: 2px;
    padding: 8px;
    border-radius: 9px;
  }

  
  .buttons {
    display: flex;
    inline-size: 100px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 60px;
  }
  
  #rock{
    margin-left: 0px;
    margin-right: 0px;
  }
  
  #scissors {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 30px;
  }

  #paper {
    margin-top: 30px;
  }

}



