body {
  font-family: "Kumbh Sans";
}


.header {
  text-align: center;
}

.headerImg {
  width: 30%;
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 40px;
}

h1 {
  
}

#results {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#middle,
h2        {
  display: block;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

#rock,
#paper,
#scissors {
  font-family: "Kumbh Sans";
  font-size: 18px;
  padding-top: 2px;
  transition-duration: .2s;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
  padding: 10px;
}

#rock:hover {
  background: rgba(240, 30, 0, .7);
  transform: scale(1.1);
  border-radius: 5px;
}
#paper:hover {
  background: rgba(250, 230, 0, 1);
  transform: scale(1.1);
  border-radius: 5px;
}
#scissors:hover {
  background: rgba(0, 180, 240, .5);
  transform: scale(1.1);
  border-radius: 5px;
} 


#rock{
  margin-left: 100px;
  margin-right: 40px;
}

#scissors {
  margin-right: 100px;
  margin-left: 40px;
}


.userPlayImg {
  
}



@media only screen and (max-width: 600px) {
  
  #rock,
  #paper,
  #scissors {
    font-size: 18px;
    padding-top: 2px;
    padding: 5px;
  }

  
  .buttons {
    display: flex;
    inline-size: 100px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 60px;
  }
  
  #rock{
    margin-left: 0px;
    margin-right: 0px;
  }
  
  #scissors {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 30px;
  }

  #paper {
    margin-top: 30px;
  }

}



